body {
  color: #222;
  font-family: "Georgia", "Kinnari", "Garamond", "Times New Roman", serif;
  /*
  font-size: 18px;
  */
  line-height: 1.4;
  min-height: 100%;
  overflow-wrap: break-word;
  max-width: 69ch;
  margin: 0 auto;
  padding: 4rem 2rem;
}

.row { display: flex; flex-direction: row; gap: 0.5rem; }
aside { float: right; }

nav {
  /*
   text-align: center;
   */
}

a {
        color: #02b;
}

p, ul, ol, dl, table, blockquote, pre, h1, h2, h3, h4, h5, h6 {
  margin: 1rem 0 0;
}

h1, h2 { color: #333; line-height: 3rem; margin-top: 2rem; font-weight: 600; }
h3, h4, h5, h6 { font-weight: 400; }


ul ul, ol ol, ul ol, ol ul { margin: 0; }

hr {
  margin: 0;
  border: none;
  padding: 1.5rem 0 0;
}

p { margin: 1rem 0; }

li { margin: 0.4rem 0; }

*:target { background: yellow; }

table { width: 100%; }

table, th, td {
  border: thin solid black;
  border-collapse: collapse;
  padding: 0.4rem;
}

code {
  color: white;
  background: black;
}

blockquote {
  font-style: italic;
  border: thin solid black;
  padding: 1rem;

}

blockquote > p { margin: 0; }

main img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
}

footer {
  margin-top: 2rem;
}
