body {
  color: black;
  font-family: 'MS Gothic', monospace;
  font-size: 16px;
  line-height: 1.4;
  min-height: 100%;
  overflow-wrap: break-word;
  max-width: 640px;
  margin: 0 auto;
  padding: 4rem 2rem;
}

.row { display: flex; flex-direction: row; gap: 0.5rem; }
.text-right { text-align: right; }

nav {
  /*
   text-align: center;
   */
}

h2, h3, h4, h5, h6 { margin-top: 3rem; }

p { margin: 1rem 0; }

li { margin: 0.4rem 0; }

*:target { background: yellow; }

hr {
  text-align: center;
  border: 0;
  border-bottom: 1px solid black;
  width: 16rem;
  margin: 2rem auto;
  /*
  &:before { content: '----' }
  &:after { content: attr(data-content) '----' }
  */
}

table { width: 100%; }

table, th, td {
  border: thin solid black;
  border-collapse: collapse;
  padding: 0.4rem;
}

code {
  color: white;
  background: black;
}

blockquote {
  font-style: italic;
  border: thin solid black;
  padding: 1rem;

}

blockquote > p { margin: 0; }

main img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
}

footer {
  margin-top: 2rem;
}
