<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <link rel="icon" href="/img/favicon.png" type="image/png">
  <link rel="stylesheet" href="/css/style.css">
  <title>{{ .Title }}{{ if ne .Page.UrlPath "" }} - {{ .Site.Title }}{{ end }}</title>
  <link rel="alternate" type="application/rss+xml" href="/feed.xml">
  <link rel="sitemap" type="application/xml" href="/sitemap.xml">
  <!--
  {{ if not .Page.DatePublished.IsZero -}}
  <link rel="canonical" href="{{ .Page.Permalink }}">
  <meta property="og:title" content="{{ .Page.Title }}">
  <meta property="og:site_name" content="{{ .Site.Title }}">
  <meta property="og:url" content="{{ .Page.Permalink }}">
  <meta property="og:image" content="{{ .Site.Url }}img/avatar.jpeg">
  <meta name="fediverse:creator" content="@dvk@toot.re">
  {{- end -}}
  -->
</head>
<body>
  <header>
  <nav>
    <a href="/">~home</a>
  </nav>
  </header>
  <main>
